body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

/* Navbar styling */
.navbar-brand {
  color: #1a1b1b !important;
}

.nav-link {
  color: #423c3c !important;
  margin: 0 30px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f50808 !important;
  text-decoration: underline;
  font-weight: bold;
}

/* Footer styling */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  text-align: center;
  color: #3a3333;
}

h3 {
  font-weight: 600;
}

.modal-body p {
  text-align: justify;

}

.footer i:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: #fc2306 !important;
}


/* contact css */
.contact-box {
  max-width: fit-content;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #fff;
  text-align: center;
}

.contact-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


.contact-item i {
  display: block;
}

.contact-item p {
  margin: 0;
}

hr {
  border: none;
  border-top: 3px solid #1f1c1c;
}

/* Project css */
.project-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #fff;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.modal-body p {
  text-align: justify;
}

.project-img {
  width: 100%;
  height: 200px;
  /* fixed height for all images */
  object-fit: cover;
  /* keeps image centered and cropped evenly */
  border-radius: 10px;
}

/* index css*/
.hero-section {
  background: url('../image/spacecon.JPG') center center no-repeat;
  background-size: contain;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.typing {
  border-right: 2px solid #ece6e6;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  color: #ece6e6;
}

.hero-section h1,
.hero-section h2 {
  margin-top: 160px;
}



/* skill css */
.skill-box {
  margin-bottom: 25px;
}

.progress {
  position: relative;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
}

.progress-bar {
  background: linear-gradient(90deg, #719c2c, #949b2f, #e96e09);
  position: relative;
  border-radius: 180px;
  height: 100%;
}

/* Dot styling */
.dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: rgb(0, 0, 0);
  border: 3px solid black;
  border-radius: 50%;
  right: 0;
}

h6 {
  font-weight: 600;
  margin-bottom: 5px;
}