body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  padding-top: 72px;
}

html {
  scroll-padding-top: 85px;
  scroll-behavior: smooth;
}

/* Navbar styling */
.navbar-brand {
  color: #1a1b1b !important;
}

.nav-link {
  color: #423c3c !important;
  margin: 0 30px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f50808 !important;
  text-decoration: underline;
  font-weight: bold;
}

/* Footer styling */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #3a3333;
}

h2:hover {
  color: #f50808 !important;
  text-decoration: underline;
  transform: translateY(-5px);
  cursor: pointer;
}


h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.modal-body p {
  text-align: justify;

}

.footer i:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: #fc2306 !important;
}


/* contact css */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.contact {
  max-height: fit-content;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #fff;
  text-align: center;
}

.contact:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


.contact-item i {
  display: block;
}

.contact-item p {
  margin: 0;
}

hr {
  border: none;
  border-top: 3px solid #1f1c1c;
}

button {
  background: #e27005;
  color: white;
  border: none;
}

button:hover {
  background: #4d8fd4;
}


/* Project css */
.project-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

}

.modal-body p {
  text-align: justify;
}

.project-img {
  width: 100%;
  height: 200px;
  /* fixed height for all images */
  object-fit: cover;
  /* keeps image centered and cropped evenly */
  border-radius: 10px;
}

/* index css*/
.hero-section {
  background: url('../../image/spacecon.JPG') center center no-repeat;
  background-size: contain;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* On smaller screens, remove extra space from top/bottom */
@media (max-width: 768px) {
  .hero-section {
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
  }
}

.typing {
  border-right: 2px solid #ece6e6;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  color: #ece6e6;
}

.hero-section h1 {
  margin-top: 160px;
}

/* skill css */
.skills-box {
  display: flex;
  column-gap: 30px;
  row-gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.progress-bar:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 20px;
}

.skill {
  width: 400px;
}

.progress-bar {
  background: #b6b3b3;
  border-radius: 10px;
  height: 15px;
  width: 100%;
  position: relative;
}

.progress-bar div {
  height: 15px;
  border-radius: 5px;
  width: 0%;
  transition: width 2s ease-in-out;
  position: relative;
}

.progress-bar div span {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background: #272626;
  border: 2px solid #fff;
  display: block;
  position: absolute;
  right: -10px;
  top: -2px;
  z-index: 11;
}


h6 {
  font-weight: 600;
  margin-bottom: 5px;
}



/* experience css */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #28a745;
  top: 0;
  bottom: 0;
  left: 30%;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-date {
  width: 30%;
  text-align: right;
  padding-right: 20px;
  color: #302e2e;
}

.timeline-icon {
  width: 40px;
  text-align: center;
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-content {
  flex: 1;
  padding-left: 20px;
  color: #1d1c1c;
}

.timeline-content h3 {
  color: #e91a13;
  font-weight: bold;
}

.timeline-content p {
  margin-bottom: 3px;
}


/* gallery css */
.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.gallery-title {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

.gallery-item {
  margin-bottom: 20px;
}