body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

/* Navbar styling */
.navbar-brand {
  color: #1a1b1b !important;
}

.nav-link {
  color: #423c3c !important;
  margin: 0 30px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f50808 !important;
  text-decoration: underline;
  font-weight: bold;
}

/* Footer styling */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  text-align: center;
  color: #3a3333;
}

h3 {
  font-weight: 600;
}

.modal-body p {
  text-align: justify;

}

.footer i:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: #fc2306 !important;
}

.typing {
  border-right: 2px solid #000000;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}


/* contact css */
.contact-box {
  max-width: 450px;
  background-color: #fff;
  text-align: center;
}

.contact-item i {
  display: block;
}

.contact-item p {
  margin: 0;
}

hr {
  border: none;
  border-top: 3px solid #272424;
}

/* Project css */
.project-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #fff;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.modal-body p {
  text-align: justify;

}