body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

/* Navbar styling */
.navbar-brand {
  color: #1a1b1b !important;
}
.nav-link {
  color: #423c3c !important;
  margin: 0 30px;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #f50808 !important;
  text-decoration: underline;
  font-weight: bold;
}

/* Footer styling */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}
h1, h2, h3 {
  font-weight: 600;
}
.footer i:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: #fc2306 !important;
}